.search {
  flex-basis: 100%;
  text-align: center;
  padding: 20px;

  &__item {
    border-top: 1px solid #ffffff3d;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 20px 1fr;
    grid-template-areas:
      "avatar title"
      "avatar subTitle"
      "avatar subscription";
  }

  &__avatar {
    grid-area: avatar;
  }

  &__title {
    grid-area: title;
  }

  &__sub-title {
    grid-area: subTitle;
    justify-self: flex-start;
  }

  &__link {
    font-size: 25px;
    letter-spacing: 0.04em;
    font-weight: 500;
    transition: 0.3s all ease-in-out;

    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }

  &__sub-link {
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;

    &:hover {
      color: $light-gray;
      text-decoration: underline;
    }
  }

  &__text {
    grid-area: subscription;
    justify-self: flex-start;
    font-style: italic;
    font-weight: 300;
  }
}
